.slide-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 3.5rem;
    padding: 0 0 0 0; /* Adjust padding for spacing between slides */
}

.slide {
    width: calc(9rem + 2rem); /* Adjust for slide width and added padding */
    height: 9rem;
    border-radius: 50%;
   
    overflow: hidden;
    display: flex;
    cursor: pointer;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: transparent;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    /* border: rgb(13, 13, 13) solid 1px ; */
}

.slide-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    padding: 0.5rem;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}